html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
b,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.Toastify__toast-theme--colored.Toastify__toast--info {
  background-color: #4096ff !important;
}

.Toastify__toast-theme--colored.Toastify__toast--success {
  background-color: #73d13d !important;
}

.Toastify__toast-theme--colored.Toastify__toast--error {
  background-color: #ff4d4f !important;
}

.sidebar-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  transition: padding 0.3s ease;
}

.sidebar-logo {
  width: 80px;
  height: 20px;
}

.sidebar-text {
  margin-top: 6px;
  font-size: 10px;
  color: #fff;
}

.collapsed .sidebar-logo-container {
  display: hidden;
}

.header {
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, #000000 0%, #001529 25%, #002140 51%, #1677ff 100%);
  -webkit-animation: AnimateBG 20s ease infinite;
  animation: AnimateBG 20s ease infinite;
}

@keyframes silverFoil {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.custom-tag {
  background: linear-gradient(45deg, #f0f0f0, #d9d9d9, #bfbfbf, #e6e6e6, #f0f0f0);
  background-size: 400% 400%;
  animation: silverFoil 4s linear infinite;
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}
